
Programa1/Ejemplo.Web/Persistencia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Ejemplo.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Dominio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Persistencia/Clases/pPersistencia.cs
Programa1/Ejemplo.Web/Persistencia/Clases/pPersistencia.cs
Programa1/Ejemplo.Web/Persistencia/Clases/pPersistencia.cs
Programa1/Ejemplo.Web/Common/obj/Debug/Common.csprojResolveAssemblyReference.cache
Programa1/Ejemplo.Web/Common/obj/Debug/Common.csproj.FileListAbsolute.txt
Programa1/Ejemplo.Web/Dominio/obj/Debug/Dominio.csprojResolveAssemblyReference.cache
Programa1/Ejemplo.Web/Ejemplo.Web/obj/Debug/Ejemplo.Web.csprojResolveAssemblyReference.cache
Programa1/Ejemplo.Web/Persistencia/obj/Debug/Persistencia.csprojResolveAssemblyReference.cache
