
Programa1/Ejemplo.Web/Persistencia/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Ejemplo.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Dominio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Programa1/Ejemplo.Web/Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
