body {
     width:100%;
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}
.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    background-color:#fff;
}
.page
{
    width: 100%;
    background-color: #fff;
    margin: 0px auto 0px auto;
}
.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #FFF;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #007aff;
    border: none;
    line-height: 2em;
    font-size: 35px;
}
.header h2
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #007aff;
    border: none;
    line-height: 2em;
    font-size: 25px;
}

div.hideSkiplink
{
    background-color:#007aff; /*celeste*/
    width:100%;
}
.menu
{
    /*padding: 15px 10px 20px 10px;*/
}
.menu li
{
     /*padding: 0px 20px 0px 20px;*/
}
.menu li a
{    
    color:#fff;
}

.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 15px 10px 20px 10px;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}
div.menu ul li a:hover
{
    background-color: #0059ba; /*rojo*/
    color: #fff;
    text-decoration: none;
}
div.menu ul li a:active
{
    background-color: #16ff00; /*verde*/
    color: #cfdbe6;
    text-decoration: none;
}
div.menu ul li a, div.menu ul li a:visited
{
    background-color: #007aff; /*rosa*/
    color: #dde4ec;
    display: block;
    line-height: 1.50em;
    padding: 15px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    white-space: nowrap;
}
.table{
    margin-left:20px;
}

.VentanaEmergente{
    background-color:#aeaeae;
    border-color:#515151;
}