<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <!-- dsfsdfsdfsdfasdsdfafafafafafafafafafa-->
      <compilation debug="true" targetFramework="4.0" />
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </httpModules>
      <!-- dsfsdfsdfsdfasdsdfafafafafafafafafafa-->
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
